# Настройки для рута.
root:
  # Пароль для рута на гейте.
  password: ""

# Настройки для непривилегированного пользователя.
user:
  # Имя непривилегированного пользователя на гейте. Логин под рутом запрещён, этот
  # пользователь будет использоваться для раскатки плейбуков.
  name: ""

  # Пароль для непривилегированного пользователя.
  password: ""

  # Путь до публичного ключа, который выдан для атворизации по клбючам на гейте.
  pub_key_path: ""

# Настройки для Cloudflare.
cloudflare:
  # Токен авторизации для взаимодействия с АПИ Cloudflare.
  # Можно получить тут: https://dash.cloudflare.com/profile/api-tokens
  token: ""

  # Зона в которой заригестрированы домены для гейта.
  zone: ""

gate:
  sub_domain: ""

vpn:
  sub_domain: ""

# Настройки для сертификатов.
certs:
  # E-mail адрес,
  email: ""
